{% extends "framework.html" %}
{% set active_page = "about" %}
{% block content %}
  <div class="jumbotron app-jumbo">
    <h1 class="display-4">About</h1>
    <p class="lead">Powered by a bus of POTATOES.</p>
    <hr class="my-4">
    <h2>Members <small class="text-muted">In alphabetical order</small></h2>
    <ul>
      <li>Deng Qing</li>
      <li>Lu Xun</li>
      <li>Wu Siyi</li>
      <li>Yang Huzheng</li>
      <li>Zeng Chang'an</li>
    </ul>
    <h2>Credits</h2>
    <ul>
      <li>Ubisoft</li>
      <li>Steam</li>
      <li>Python</li>
      <li><s>JavaScript</s></li>
      <li>MySQL</li>
      <li>All Players</li>
    </ul>
  </div>
{% endblock %}